server:
  port: 8081
spring:
  application:
    name: userbank-service
  datasource:
    url: jdbc:mysql://localhost:3306/wallet
    username: root
    password: root
  jpa:
    show-sql: true
bank:
  id: 7
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}